<!-- Spinner Start -->
<!-- <app-spinner></app-spinner> -->
<!-- Spinner End -->


<!-- Topbar Start -->
<app-topbar></app-topbar>
<!-- Topbar End -->


<!-- Navbar & Carousel Start -->
<!-- Navbar & Carousel End -->
<app-navbar-carousel></app-navbar-carousel>

<!-- Full Screen Search Start -->
<app-full-screen-search></app-full-screen-search>
<!-- Full Screen Search End -->


<!-- Facts Start -->
<app-facts></app-facts>
<!-- Facts Start -->


<!-- About Start -->
<app-about></app-about>
<!-- About End -->


<!-- Features Start -->
<app-feature></app-feature>
<!-- Features Start -->


<!-- Service Start -->
<app-service></app-service>
<!-- Service End -->


<!-- Pricing Plan Start -->
<app-price></app-price>
<!-- Pricing Plan End -->


<!-- Quote Start -->
<app-quote></app-quote>
<!-- Quote End -->


<!-- Testimonial Start -->
<app-testimonial></app-testimonial>
<!-- Testimonial End -->


<!-- Team Start -->
<app-team></app-team>
<!-- Team End -->


<!-- Blog Start -->
<app-blog></app-blog>
<!-- Blog End -->


<!-- Vendor Start -->
<app-vendor></app-vendor>
<!-- Vendor End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>